* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  width: 1600px;
  height: 120px;
  background-color: #e7ebf1;
}
.navigastion {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.logo {
  height: 49px;
  padding-right: 100px;
}
.logo__color {
  color: #81e3ed;
}
a {
  text-decoration: none;
}
.logo-header:hover {
  opacity: 0.5;
}
.header-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation {
  display: inline;
}
.navigation-items {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 5px;
  top: 15px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  left: -20px;
  top: 5px;
}
.nav-item-link.drop-list {
  position: relative;
}
ul {
  list-style: none;
}
.nav-item {
  position: relative;
}
.nav-item-link {
  border-top: 5px;
  border: 1px;
  color: #000;
  font-weight: 700;
  padding: 10px 11px 14px;
  display: block;
  text-decoration: none;
}
.drop-list {
  padding: 10px 27px 14px 11px;
}
.drop-list::after {
  content: " ";
  display: block;
  position: absolute;
  top: 13px;
  right: 9px;
  width: 8px;
  height: 6px;
}
.nav-item:hover .sub-menu {
  display: block;
}
.sub-menu-item:hover {
  opacity: 0.5;
}
.service-link:hover {
  text-decoration: underline;
}
.sub-menu {
  color: #000;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 35px;
  width: 200px;
  padding: 10px 5px;
  background-color: #fff;
  border: 1px solid #e7ebf1;
  border-top: none;
  box-shadow: 0 5px #2aacc8;
}
.nav-item-link:hover {
  color: #2aacc8;
  background-color: #fff;
  border: 1px solid #e7ebf1;
  border-top: 5px solid #2aacc8;
}
.sub-menu-link {
  color: #000;
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: 9px;
  border-bottom: 1px solid #e7ebf1;
  display: block;
  text-decoration: none;
}
.main-page {
  min-width: 1600px;
}

.banner {
  width: 100%;
  height: 500px;
  background-color: #81e3ed;
  padding: 30px 0;
}
.main__banner {
  height: 440px;
  width: 1000px;
  background-color: #e05936;
  margin: 0 auto;
  background-image: url(img/cup.png), url(img/message1.png);
  background-repeat: no-repeat;
  background-position: center, right top;
  padding: 93px 0px 129px 62px;
}
.banner-text {
  width: 296px;
  color: white;
  font-size: 50px;
  font-family: "Lato", sans-serif;
  position: absolute;
}
.main-page {
  min-width: 1600px;
}
.banner-wrap {
  width: 100%;
  height: 500px;
  background-color: #81e3ed;
  padding: 30px 0;
}
.wrap-slider-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px 0;
  height: 500px;
  background-color: #81e3ed;
}
.slider-img {
  height: 440px;
  width: 1000px;
  margin-bottom: 60px;
}
.icon-clean-theme {
  background: url(svg/pen.svg) center no-repeat;
  z-index: 2;
}
.icon-responsive-design {
  background: url(svg/line.svg) center no-repeat;
  z-index: 2;
}
.icon-fully-layerd-psd {
  background: url(svg/disgh.svg) center no-repeat;
  z-index: 2;
}
.icon-ready-for-coding {
  background: url(svg/message.svg) center no-repeat;
  z-index: 2;
}
.main-page-services {
  width: 100%;
  min-height: 300px;
  background-color: #e8ebf1;
  padding-top: 60px;
  padding-bottom: 50px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.main-services-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.service-item {
  width: 220px;
  min-height: 190px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.service-name {
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 39px;
  position: relative;
  padding-bottom: 15px;
}
.service-description {
  margin-bottom: 25px;
  line-height: 20px;
}
.service-link {
  margin-top: auto;
  position: relative;
  text-decoration: none;
  color: #59bcd2;
  display: flex;
  align-items: center;
}
.icon {
  background-color: #59bcd2;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: -10px;
   color: transparent;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.psd-container-position {
  margin: 45px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-psd-container {
  width: 1000px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #81e3ed;
  background-color: #e8fcfe;
  padding: 30px 30px;
}
.psd-text {
  width: 613px;
  font-size: 18px;
  line-height: 20px;
}

.psd-button:hover {
  opacity: 0.5;
}
.psd-button {
  position: relative;
  width: 240px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #2aacc8;
  background-color: #7fe2ec;
  background-image: linear-gradient(
    0deg,
    #29abc7 0%,
    #5fcddd 15%,
    #71d9e5 50%,
    #81e3ed 100%
  );
  box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 18px 18px 70px;
  border-radius: 8px;
  margin-top: 9px;
  margin-right: 7px;
  cursor: pointer;
}


/*.psd-button {
  position: relative;
  width: 240px;
  height: 60px;
  border: 1px solid #2aacc8;
  background-color: #7fe2ec;
  background-image: linear-gradient(
    0deg,
    #29abc7 0%,
    #5fcddd 15%,
    #71d9e5 50%,
    #81e3ed 100%
  );
  box-shadow: 0px 2px 1.5px rgb(0 0 0 / 20%);
  font-size: 18px;
  line-height: 20px;
  color: #0d0707;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 18px 18px 70px;
  border-radius: 8px;
  margin-top: 9px;
  margin-right: 7px;
  cursor: pointer;
}*/



.psd-button:hover {
  opacity: 0.8;
  color: #fff;
}

.psd-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 18px;
  height: 25px;
  width: 28px;
  background: url("svg/download.svg") no-repeat;
}
.psd-icon {
  position: absolute;
  top: 15px;
  left: 18px;
  height: 25px;
  width: 28px;
}
.footer-logo:hover {
  opacity: 0.5;
}
.footer {
  background-color: #e7ebf1;
  width: 1600px;
  height: 93px;
  border-bottom: 1px solid #d9d9d9;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.footer-text {
  width: 642px;
  font-size: 13px;
  line-height: 18px;
  color: #363636;
}
.slick-dots li button:before {
  font-size: 30px;
}
